aiohttp
bs4
category-encoders
datasets
en-core-web-sm
fqdn
imbalanced-learn
importlib-metadata
isoduration
jaraco-collections
jaraco-context
jaraco-functools
jaraco-text
jsonpointer
jupyter
lxml
rfc3987-syntax
scorecardpy
seaborn
shap
spacy
tinycss2
torch
transformers
uri-template
vadersentiment
webcolors
xgboost
